# Extract

In [1]:
import pandas as pd
import numpy as np
import sqlite3
import re
from bs4 import BeautifulSoup
import requests
import json as js
import urllib.request, urllib.parse, urllib.error
import matplotlib.pyplot as plt

In [2]:
page = requests.get("https://swapi.dev/api/")
soup = BeautifulSoup(page.content, 'html.parser')
print(soup.prettify())

{"people":"https://swapi.dev/api/people/","planets":"https://swapi.dev/api/planets/","films":"https://swapi.dev/api/films/","species":"https://swapi.dev/api/species/","vehicles":"https://swapi.dev/api/vehicles/","starships":"https://swapi.dev/api/starships/"}

In [316]:
people_page = requests.get("https://swapi.dev/api/people/")
planets_page = requests.get("https://swapi.dev/api/planets/")
films_page = requests.get("https://swapi.dev/api/films/")
species_page = requests.get("https://swapi.dev/api/species/")
vehicles_page = requests.get("https://swapi.dev/api/vehicles/")
starships_page = requests.get("https://swapi.dev/api/starships/")

In [337]:
people = BeautifulSoup(people_page.content, 'html.parser')
planets = BeautifulSoup(planets_page.content, 'html.parser')
films = BeautifulSoup(films_page.content, 'html.parser')
species = BeautifulSoup(species_page.content, 'html.parser')
vehicles = BeautifulSoup(vehicles_page.content, 'html.parser')
starships = BeautifulSoup(starships_page.content, 'html.parser')

In [338]:
print(people.prettify())

{"count":82,"next":"https://swapi.dev/api/people/?page=2","previous":null,"results":[{"name":"Luke Skywalker","height":"172","mass":"77","hair_color":"blond","skin_color":"fair","eye_color":"blue","birth_year":"19BBY","gender":"male","homeworld":"https://swapi.dev/api/planets/1/","films":["https://swapi.dev/api/films/1/","https://swapi.dev/api/films/2/","https://swapi.dev/api/films/3/","https://swapi.dev/api/films/6/"],"species":[],"vehicles":["https://swapi.dev/api/vehicles/14/","https://swapi.dev/api/vehicles/30/"],"starships":["https://swapi.dev/api/starships/12/","https://swapi.dev/api/starships/22/"],"created":"2014-12-09T13:50:51.644000Z","edited":"2014-12-20T21:17:56.891000Z","url":"https://swapi.dev/api/people/1/"},{"name":"C-3PO","height":"167","mass":"75","hair_color":"n/a","skin_color":"gold","eye_color":"yellow","birth_year":"112BBY","gender":"n/a","homeworld":"https://swapi.dev/api/planets/1/","films":["https://swapi.dev/api/films/1/","https://swapi.dev/api/films/2/","https://swapi.dev/api/films/3/","https://swapi.dev/api/films/4/","https://swapi.dev/api/films/5/","https://swapi.dev/api/films/6/"],"species":["https://swapi.dev/api/species/2/"],"vehicles":[],"starships":[],"created":"2014-12-10T15:10:51.357000Z","edited":"2014-12-20T21:17:50.309000Z","url":"https://swapi.dev/api/people/2/"},{"name":"R2-D2","height":"96","mass":"32","hair_color":"n/a","skin_color":"white, blue","eye_color":"red","birth_year":"33BBY","gender":"n/a","homeworld":"https://swapi.dev/api/planets/8/","films":["https://swapi.dev/api/films/1/","https://swapi.dev/api/films/2/","https://swapi.dev/api/films/3/","https://swapi.dev/api/films/4/","https://swapi.dev/api/films/5/","https://swapi.dev/api/films/6/"],"species":["https://swapi.dev/api/species/2/"],"vehicles":[],"starships":[],"created":"2014-12-10T15:11:50.376000Z","edited":"2014-12-20T21:17:50.311000Z","url":"https://swapi.dev/api/people/3/"},{"name":"Darth Vader","height":"202","mass":"136","hair_color":"none","skin_color":"white","eye_color":"yellow","birth_year":"41.9BBY","gender":"male","homeworld":"https://swapi.dev/api/planets/1/","films":["https://swapi.dev/api/films/1/","https://swapi.dev/api/films/2/","https://swapi.dev/api/films/3/","https://swapi.dev/api/films/6/"],"species":[],"vehicles":[],"starships":["https://swapi.dev/api/starships/13/"],"created":"2014-12-10T15:18:20.704000Z","edited":"2014-12-20T21:17:50.313000Z","url":"https://swapi.dev/api/people/4/"},{"name":"Leia Organa","height":"150","mass":"49","hair_color":"brown","skin_color":"light","eye_color":"brown","birth_year":"19BBY","gender":"female","homeworld":"https://swapi.dev/api/planets/2/","films":["https://swapi.dev/api/films/1/","https://swapi.dev/api/films/2/","https://swapi.dev/api/films/3/","https://swapi.dev/api/films/6/"],"species":[],"vehicles":["https://swapi.dev/api/vehicles/30/"],"starships":[],"created":"2014-12-10T15:20:09.791000Z","edited":"2014-12-20T21:17:50.315000Z","url":"https://swapi.dev/api/people/5/"},{"name":"Owen Lars","height":"178","mass":"120","hair_color":"brown, grey","skin_color":"light","eye_color":"blue","birth_year":"52BBY","gender":"male","homeworld":"https://swapi.dev/api/planets/1/","films":["https://swapi.dev/api/films/1/","https://swapi.dev/api/films/5/","https://swapi.dev/api/films/6/"],"species":[],"vehicles":[],"starships":[],"created":"2014-12-10T15:52:14.024000Z","edited":"2014-12-20T21:17:50.317000Z","url":"https://swapi.dev/api/people/6/"},{"name":"Beru Whitesun lars","height":"165","mass":"75","hair_color":"brown","skin_color":"light","eye_color":"blue","birth_year":"47BBY","gender":"female","homeworld":"https://swapi.dev/api/planets/1/","films":["https://swapi.dev/api/films/1/","https://swapi.dev/api/films/5/","https://swapi.dev/api/films/6/"],"species":[],"vehicles":[],"starships":[],"created":"2014-12-10T15:53:41.121000Z","edited":"2014-12-20T21:17:50.319000Z","url":"https://swapi.dev/api/people/7/"},{"name":"R5-D4","height":"97","mass":"32","hair_color":"n/a","skin_color":"white, red","eye_color":"red","birth_year":"unknown","gender":"n/a","homeworld":"https://swapi.dev/api/planets/1/","films":["https://swapi.dev/api/films/1/"],"species":["https://swapi.dev/api/species/2/"],"vehicles":[],"starships":[],"created":"2014-12-10T15:57:50.959000Z","edited":"2014-12-20T21:17:50.321000Z","url":"https://swapi.dev/api/people/8/"},{"name":"Biggs Darklighter","height":"183","mass":"84","hair_color":"black","skin_color":"light","eye_color":"brown","birth_year":"24BBY","gender":"male","homeworld":"https://swapi.dev/api/planets/1/","films":["https://swapi.dev/api/films/1/"],"species":[],"vehicles":[],"starships":["https://swapi.dev/api/starships/12/"],"created":"2014-12-10T15:59:50.509000Z","edited":"2014-12-20T21:17:50.323000Z","url":"https://swapi.dev/api/people/9/"},{"name":"Obi-Wan Kenobi","height":"182","mass":"77","hair_color":"auburn, white","skin_color":"fair","eye_color":"blue-gray","birth_year":"57BBY","gender":"male","homeworld":"https://swapi.dev/api/planets/20/","films":["https://swapi.dev/api/films/1/","https://swapi.dev/api/films/2/","https://swapi.dev/api/films/3/","https://swapi.dev/api/films/4/","https://swapi.dev/api/films/5/","https://swapi.dev/api/films/6/"],"species":[],"vehicles":["https://swapi.dev/api/vehicles/38/"],"starships":["https://swapi.dev/api/starships/48/","https://swapi.dev/api/starships/59/","https://swapi.dev/api/starships/64/","https://swapi.dev/api/starships/65/","https://swapi.dev/api/starships/74/"],"created":"2014-12-10T16:16:29.192000Z","edited":"2014-12-20T21:17:50.325000Z","url":"https://swapi.dev/api/people/10/"}]}

In [339]:
people_data = people_page.json()['results']
people_df = pd.DataFrame(people_data)
people_df

,name,height,mass,hair_color,skin_color,eye_color,birth_year,gender,homeworld,films,species,vehicles,starships,created,edited,url
0,Luke Skywalker,172,77,blond,fair,blue,19BBY,male,https://swapi.dev/api/planets/1/,"[https://swapi.dev/api/films/1/, https://swapi...",[],"[https://swapi.dev/api/vehicles/14/, https://s...","[https://swapi.dev/api/starships/12/, https://...",2014-12-09T13:50:51.644000Z,2014-12-20T21:17:56.891000Z,https://swapi.dev/api/people/1/
1,C-3PO,167,75,n/a,gold,yellow,112BBY,n/a,https://swapi.dev/api/planets/1/,"[https://swapi.dev/api/films/1/, https://swapi...",[https://swapi.dev/api/species/2/],[],[],2014-12-10T15:10:51.357000Z,2014-12-20T21:17:50.309000Z,https://swapi.dev/api/people/2/
2,R2-D2,96,32,n/a,"white, blue",red,33BBY,n/a,https://swapi.dev/api/planets/8/,"[https://swapi.dev/api/films/1/, https://swapi...",[https://swapi.dev/api/species/2/],[],[],2014-12-10T15:11:50.376000Z,2014-12-20T21:17:50.311000Z,https://swapi.dev/api/people/3/
3,Darth Vader,202,136,none,white,yellow,41.9BBY,male,https://swapi.dev/api/planets/1/,"[https://swapi.dev/api/films/1/, https://swapi...",[],[],[https://swapi.dev/api/starships/13/],2014-12-10T15:18:20.704000Z,2014-12-20T21:17:50.313000Z,https://swapi.dev/api/people/4/
4,Leia Organa,150,49,brown,light,brown,19BBY,female,https://swapi.dev/api/planets/2/,"[https://swapi.dev/api/films/1/, https://swapi...",[],[https://swapi.dev/api/vehicles/30/],[],2014-12-10T15:20:09.791000Z,2014-12-20T21:17:50.315000Z,https://swapi.dev/api/people/5/
5,Owen Lars,178,120,"brown, grey",light,blue,52BBY,male,https://swapi.dev/api/planets/1/,"[https://swapi.dev/api/films/1/, https://swapi...",[],[],[],2014-12-10T15:52:14.024000Z,2014-12-20T21:17:50.317000Z,https://swapi.dev/api/people/6/
6,Beru Whitesun lars,165,75,brown,light,blue,47BBY,female,https://swapi.dev/api/planets/1/,"[https://swapi.dev/api/films/1/, https://swapi...",[],[],[],2014-12-10T15:53:41.121000Z,2014-12-20T21:17:50.319000Z,https://swapi.dev/api/people/7/
7,R5-D4,97,32,n/a,"white, red",red,unknown,n/a,https://swapi.dev/api/planets/1/,[https://swapi.dev/api/films/1/],[https://swapi.dev/api/species/2/],[],[],2014-12-10T15:57:50.959000Z,2014-12-20T21:17:50.321000Z,https://swapi.dev/api/people/8/
8,Biggs Darklighter,183,84,black,light,brown,24BBY,male,https://swapi.dev/api/planets/1/,[https://swapi.dev/api/films/1/],[],[],[https://swapi.dev/api/starships/12/],2014-12-10T15:59:50.509000Z,2014-12-20T21:17:50.323000Z,https://swapi.dev/api/people/9/
9,Obi-Wan Kenobi,182,77,"auburn, white",fair,blue-gray,57BBY,male,https://swapi.dev/api/planets/20/,"[https://swapi.dev/api/films/1/, https://swapi...",[],[https://swapi.dev/api/vehicles/38/],"[https://swapi.dev/api/starships/48/, https://...",2014-12-10T16:16:29.192000Z,2014-12-20T21:17:50.325000Z,https://swapi.dev/api/people/10/

In [340]:
next = people_page.json()['next']
len(next)

peoples = []
peoples.append(people_df)
try:
  while len(next) >0:
      next_page = requests.get(next)
      people_data_dummy = next_page.json()['results']
      dummy_df = pd.DataFrame(people_data_dummy)
      peoples.append(dummy_df)
      next = next_page.json()['next']
      dummy_df.head(3)
      print("Loading...")
except:
      print("the end!")

Loading...
Loading...
Loading...
Loading...
Loading...
Loading...
Loading...
Loading...
the end!

In [341]:
peoples_df = pd.concat(peoples)
peoples_df = peoples_df.reset_index(drop=True)
peoples_df

,name,height,mass,hair_color,skin_color,eye_color,birth_year,gender,homeworld,films,species,vehicles,starships,created,edited,url
0,Luke Skywalker,172,77,blond,fair,blue,19BBY,male,https://swapi.dev/api/planets/1/,"[https://swapi.dev/api/films/1/, https://swapi...",[],"[https://swapi.dev/api/vehicles/14/, https://s...","[https://swapi.dev/api/starships/12/, https://...",2014-12-09T13:50:51.644000Z,2014-12-20T21:17:56.891000Z,https://swapi.dev/api/people/1/
1,C-3PO,167,75,n/a,gold,yellow,112BBY,n/a,https://swapi.dev/api/planets/1/,"[https://swapi.dev/api/films/1/, https://swapi...",[https://swapi.dev/api/species/2/],[],[],2014-12-10T15:10:51.357000Z,2014-12-20T21:17:50.309000Z,https://swapi.dev/api/people/2/
2,R2-D2,96,32,n/a,"white, blue",red,33BBY,n/a,https://swapi.dev/api/planets/8/,"[https://swapi.dev/api/films/1/, https://swapi...",[https://swapi.dev/api/species/2/],[],[],2014-12-10T15:11:50.376000Z,2014-12-20T21:17:50.311000Z,https://swapi.dev/api/people/3/
3,Darth Vader,202,136,none,white,yellow,41.9BBY,male,https://swapi.dev/api/planets/1/,"[https://swapi.dev/api/films/1/, https://swapi...",[],[],[https://swapi.dev/api/starships/13/],2014-12-10T15:18:20.704000Z,2014-12-20T21:17:50.313000Z,https://swapi.dev/api/people/4/
4,Leia Organa,150,49,brown,light,brown,19BBY,female,https://swapi.dev/api/planets/2/,"[https://swapi.dev/api/films/1/, https://swapi...",[],[https://swapi.dev/api/vehicles/30/],[],2014-12-10T15:20:09.791000Z,2014-12-20T21:17:50.315000Z,https://swapi.dev/api/people/5/
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77,Grievous,216,159,none,"brown, white","green, yellow",unknown,male,https://swapi.dev/api/planets/59/,[https://swapi.dev/api/films/6/],[https://swapi.dev/api/species/36/],[https://swapi.dev/api/vehicles/60/],[https://swapi.dev/api/starships/74/],2014-12-20T19:43:53.348000Z,2014-12-20T21:17:50.488000Z,https://swapi.dev/api/people/79/
78,Tarfful,234,136,brown,brown,blue,unknown,male,https://swapi.dev/api/planets/14/,[https://swapi.dev/api/films/6/],[https://swapi.dev/api/species/3/],[],[],2014-12-20T19:46:34.209000Z,2014-12-20T21:17:50.491000Z,https://swapi.dev/api/people/80/
79,Raymus Antilles,188,79,brown,light,brown,unknown,male,https://swapi.dev/api/planets/2/,"[https://swapi.dev/api/films/1/, https://swapi...",[],[],[],2014-12-20T19:49:35.583000Z,2014-12-20T21:17:50.493000Z,https://swapi.dev/api/people/81/
80,Sly Moore,178,48,none,pale,white,unknown,female,https://swapi.dev/api/planets/60/,"[https://swapi.dev/api/films/5/, https://swapi...",[],[],[],2014-12-20T20:18:37.619000Z,2014-12-20T21:17:50.496000Z,https://swapi.dev/api/people/82/
81,Tion Medon,206,80,none,grey,black,unknown,male,https://swapi.dev/api/planets/12/,[https://swapi.dev/api/films/6/],[https://swapi.dev/api/species/37/],[],[],2014-12-20T20:35:04.260000Z,2014-12-20T21:17:50.498000Z,https://swapi.dev/api/people/83/

In [9]:
planets_data = planets_page.json()['results']
planets_df = pd.DataFrame(planets_data)
planets_df.head()

,name,rotation_period,orbital_period,diameter,climate,gravity,terrain,surface_water,population,residents,films,created,edited,url
0,Tatooine,23,304,10465,arid,1 standard,desert,1,200000,"[https://swapi.dev/api/people/1/, https://swap...","[https://swapi.dev/api/films/1/, https://swapi...",2014-12-09T13:50:49.641000Z,2014-12-20T20:58:18.411000Z,https://swapi.dev/api/planets/1/
1,Alderaan,24,364,12500,temperate,1 standard,"grasslands, mountains",40,2000000000,"[https://swapi.dev/api/people/5/, https://swap...","[https://swapi.dev/api/films/1/, https://swapi...",2014-12-10T11:35:48.479000Z,2014-12-20T20:58:18.420000Z,https://swapi.dev/api/planets/2/
2,Yavin IV,24,4818,10200,"temperate, tropical",1 standard,"jungle, rainforests",8,1000,[],[https://swapi.dev/api/films/1/],2014-12-10T11:37:19.144000Z,2014-12-20T20:58:18.421000Z,https://swapi.dev/api/planets/3/
3,Hoth,23,549,7200,frozen,1.1 standard,"tundra, ice caves, mountain ranges",100,unknown,[],[https://swapi.dev/api/films/2/],2014-12-10T11:39:13.934000Z,2014-12-20T20:58:18.423000Z,https://swapi.dev/api/planets/4/
4,Dagobah,23,341,8900,murky,N/A,"swamp, jungles",8,unknown,[],"[https://swapi.dev/api/films/2/, https://swapi...",2014-12-10T11:42:22.590000Z,2014-12-20T20:58:18.425000Z,https://swapi.dev/api/planets/5/

In [363]:
films_data = films_page.json()['results']
films_df = pd.DataFrame(films_data)
films_df.head()

,title,episode_id,opening_crawl,director,producer,release_date,characters,planets,starships,vehicles,species,created,edited,url
0,A New Hope,4,It is a period of civil war.\r\nRebel spaceshi...,George Lucas,"Gary Kurtz, Rick McCallum",1977-05-25,"[https://swapi.dev/api/people/1/, https://swap...","[https://swapi.dev/api/planets/1/, https://swa...","[https://swapi.dev/api/starships/2/, https://s...","[https://swapi.dev/api/vehicles/4/, https://sw...","[https://swapi.dev/api/species/1/, https://swa...",2014-12-10T14:23:31.880000Z,2014-12-20T19:49:45.256000Z,https://swapi.dev/api/films/1/
1,The Empire Strikes Back,5,It is a dark time for the\r\nRebellion. Althou...,Irvin Kershner,"Gary Kurtz, Rick McCallum",1980-05-17,"[https://swapi.dev/api/people/1/, https://swap...","[https://swapi.dev/api/planets/4/, https://swa...","[https://swapi.dev/api/starships/3/, https://s...","[https://swapi.dev/api/vehicles/8/, https://sw...","[https://swapi.dev/api/species/1/, https://swa...",2014-12-12T11:26:24.656000Z,2014-12-15T13:07:53.386000Z,https://swapi.dev/api/films/2/
2,Return of the Jedi,6,Luke Skywalker has returned to\r\nhis home pla...,Richard Marquand,"Howard G. Kazanjian, George Lucas, Rick McCallum",1983-05-25,"[https://swapi.dev/api/people/1/, https://swap...","[https://swapi.dev/api/planets/1/, https://swa...","[https://swapi.dev/api/starships/2/, https://s...","[https://swapi.dev/api/vehicles/8/, https://sw...","[https://swapi.dev/api/species/1/, https://swa...",2014-12-18T10:39:33.255000Z,2014-12-20T09:48:37.462000Z,https://swapi.dev/api/films/3/
3,The Phantom Menace,1,Turmoil has engulfed the\r\nGalactic Republic....,George Lucas,Rick McCallum,1999-05-19,"[https://swapi.dev/api/people/2/, https://swap...","[https://swapi.dev/api/planets/1/, https://swa...","[https://swapi.dev/api/starships/31/, https://...","[https://swapi.dev/api/vehicles/33/, https://s...","[https://swapi.dev/api/species/1/, https://swa...",2014-12-19T16:52:55.740000Z,2014-12-20T10:54:07.216000Z,https://swapi.dev/api/films/4/
4,Attack of the Clones,2,There is unrest in the Galactic\r\nSenate. Sev...,George Lucas,Rick McCallum,2002-05-16,"[https://swapi.dev/api/people/2/, https://swap...","[https://swapi.dev/api/planets/1/, https://swa...","[https://swapi.dev/api/starships/21/, https://...","[https://swapi.dev/api/vehicles/4/, https://sw...","[https://swapi.dev/api/species/1/, https://swa...",2014-12-20T10:57:57.886000Z,2014-12-20T20:18:48.516000Z,https://swapi.dev/api/films/5/

In [11]:
species_data = species_page.json()['results']
species_df = pd.DataFrame(species_data)
species_df.head()

,name,classification,designation,average_height,skin_colors,hair_colors,eye_colors,average_lifespan,homeworld,language,people,films,created,edited,url
0,Human,mammal,sentient,180,"caucasian, black, asian, hispanic","blonde, brown, black, red","brown, blue, green, hazel, grey, amber",120,https://swapi.dev/api/planets/9/,Galactic Basic,"[https://swapi.dev/api/people/66/, https://swa...","[https://swapi.dev/api/films/1/, https://swapi...",2014-12-10T13:52:11.567000Z,2014-12-20T21:36:42.136000Z,https://swapi.dev/api/species/1/
1,Droid,artificial,sentient,n/a,n/a,n/a,n/a,indefinite,None,n/a,"[https://swapi.dev/api/people/2/, https://swap...","[https://swapi.dev/api/films/1/, https://swapi...",2014-12-10T15:16:16.259000Z,2014-12-20T21:36:42.139000Z,https://swapi.dev/api/species/2/
2,Wookie,mammal,sentient,210,gray,"black, brown","blue, green, yellow, brown, golden, red",400,https://swapi.dev/api/planets/14/,Shyriiwook,"[https://swapi.dev/api/people/13/, https://swa...","[https://swapi.dev/api/films/1/, https://swapi...",2014-12-10T16:44:31.486000Z,2014-12-20T21:36:42.142000Z,https://swapi.dev/api/species/3/
3,Rodian,sentient,reptilian,170,"green, blue",n/a,black,unknown,https://swapi.dev/api/planets/23/,Galatic Basic,[https://swapi.dev/api/people/15/],[https://swapi.dev/api/films/1/],2014-12-10T17:05:26.471000Z,2014-12-20T21:36:42.144000Z,https://swapi.dev/api/species/4/
4,Hutt,gastropod,sentient,300,"green, brown, tan",n/a,"yellow, red",1000,https://swapi.dev/api/planets/24/,Huttese,[https://swapi.dev/api/people/16/],"[https://swapi.dev/api/films/1/, https://swapi...",2014-12-10T17:12:50.410000Z,2014-12-20T21:36:42.146000Z,https://swapi.dev/api/species/5/

In [12]:
vehicles_data = vehicles_page.json()['results']
vehicles_df = pd.DataFrame(vehicles_data)
vehicles_df

,name,model,manufacturer,cost_in_credits,length,max_atmosphering_speed,crew,passengers,cargo_capacity,consumables,vehicle_class,pilots,films,created,edited,url
0,Sand Crawler,Digger Crawler,Corellia Mining Corporation,150000,36.8,30,46,30,50000,2 months,wheeled,[],"[https://swapi.dev/api/films/1/, https://swapi...",2014-12-10T15:36:25.724000Z,2014-12-20T21:30:21.661000Z,https://swapi.dev/api/vehicles/4/
1,T-16 skyhopper,T-16 skyhopper,Incom Corporation,14500,10.4,1200,1,1,50,0,repulsorcraft,[],[https://swapi.dev/api/films/1/],2014-12-10T16:01:52.434000Z,2014-12-20T21:30:21.665000Z,https://swapi.dev/api/vehicles/6/
2,X-34 landspeeder,X-34 landspeeder,SoroSuub Corporation,10550,3.4,250,1,1,5,unknown,repulsorcraft,[],[https://swapi.dev/api/films/1/],2014-12-10T16:13:52.586000Z,2014-12-20T21:30:21.668000Z,https://swapi.dev/api/vehicles/7/
3,TIE/LN starfighter,Twin Ion Engine/Ln Starfighter,Sienar Fleet Systems,unknown,6.4,1200,1,0,65,2 days,starfighter,[],"[https://swapi.dev/api/films/1/, https://swapi...",2014-12-10T16:33:52.860000Z,2014-12-20T21:30:21.670000Z,https://swapi.dev/api/vehicles/8/
4,Snowspeeder,t-47 airspeeder,Incom corporation,unknown,4.5,650,2,0,10,none,airspeeder,"[https://swapi.dev/api/people/1/, https://swap...",[https://swapi.dev/api/films/2/],2014-12-15T12:22:12Z,2014-12-20T21:30:21.672000Z,https://swapi.dev/api/vehicles/14/

In [266]:
next = vehicles_page.json()['next']
len(next)

vehicles = []
vehicles.append(vehicles_df)
try:
  while len(next) >0:
      next_page = requests.get(next)
      vehicles_data_dummy = next_page.json()['results']
      dummy_df = pd.DataFrame(vehicles_data_dummy)
      vehicles.append(dummy_df)
      next = next_page.json()['next']
      dummy_df.head(3)
      print("Loading...")
except:
      print("the end!")

Loading...
Loading...
Loading...
the end!

In [267]:
vehicles_df = pd.concat(vehicles)
vehicles_df = vehicles_df.reset_index(drop = True)
vehicles_df

,name,model,manufacturer,cost_in_credits,length,max_atmosphering_speed,crew,passengers,cargo_capacity,consumables,vehicle_class,created,edited,url,key,pilots,films
0,Sand Crawler,Digger Crawler,Corellia Mining Corporation,150000,36.8,30,46,30,50000,2 months,wheeled,2014-12-10T15:36:25.724000Z,2014-12-20T21:30:21.661000Z,https://swapi.dev/api/vehicles/4/,4,NaN,NaN
1,T-16 skyhopper,T-16 skyhopper,Incom Corporation,14500,10.4,1200,1,1,50,0,repulsorcraft,2014-12-10T16:01:52.434000Z,2014-12-20T21:30:21.665000Z,https://swapi.dev/api/vehicles/6/,6,NaN,NaN
2,X-34 landspeeder,X-34 landspeeder,SoroSuub Corporation,10550,3.4,250,1,1,5,unknown,repulsorcraft,2014-12-10T16:13:52.586000Z,2014-12-20T21:30:21.668000Z,https://swapi.dev/api/vehicles/7/,7,NaN,NaN
3,TIE/LN starfighter,Twin Ion Engine/Ln Starfighter,Sienar Fleet Systems,unknown,6.4,1200,1,0,65,2 days,starfighter,2014-12-10T16:33:52.860000Z,2014-12-20T21:30:21.670000Z,https://swapi.dev/api/vehicles/8/,8,NaN,NaN
4,Snowspeeder,t-47 airspeeder,Incom corporation,unknown,4.5,650,2,0,10,none,airspeeder,2014-12-15T12:22:12Z,2014-12-20T21:30:21.672000Z,https://swapi.dev/api/vehicles/14/,14,NaN,NaN
5,TIE bomber,TIE/sa bomber,Sienar Fleet Systems,unknown,7.8,850,1,0,none,2 days,space/planetary bomber,2014-12-15T12:33:15.838000Z,2014-12-20T21:30:21.675000Z,https://swapi.dev/api/vehicles/16/,16,NaN,NaN
6,AT-AT,All Terrain Armored Transport,"Kuat Drive Yards, Imperial Department of Milit...",unknown,20,60,5,40,1000,unknown,assault walker,2014-12-15T12:38:25.937000Z,2014-12-20T21:30:21.677000Z,https://swapi.dev/api/vehicles/18/,18,NaN,NaN
7,AT-ST,All Terrain Scout Transport,"Kuat Drive Yards, Imperial Department of Milit...",unknown,2,90,2,0,200,none,walker,2014-12-15T12:46:42.384000Z,2014-12-20T21:30:21.679000Z,https://swapi.dev/api/vehicles/19/,19,NaN,NaN
8,Storm IV Twin-Pod cloud car,Storm IV Twin-Pod,Bespin Motors,75000,7,1500,2,0,10,1 day,repulsorcraft,2014-12-15T12:58:50.530000Z,2014-12-20T21:30:21.681000Z,https://swapi.dev/api/vehicles/20/,20,NaN,NaN
9,Sail barge,Modified Luxury Sail Barge,Ubrikkian Industries Custom Vehicle Division,285000,30,100,26,500,2000000,Live food tanks,sail barge,2014-12-18T10:44:14.217000Z,2014-12-20T21:30:21.684000Z,https://swapi.dev/api/vehicles/24/,24,NaN,NaN
10,Bantha-II cargo skiff,Bantha-II,Ubrikkian Industries,8000,9.5,250,5,16,135000,1 day,repulsorcraft cargo skiff,2014-12-18T10:48:03.208000Z,2014-12-20T21:30:21.688000Z,https://swapi.dev/api/vehicles/25/,NaN,[],[https://swapi.dev/api/films/3/]
11,TIE/IN interceptor,Twin Ion Engine Interceptor,Sienar Fleet Systems,unknown,9.6,1250,1,0,75,2 days,starfighter,2014-12-18T10:50:28.225000Z,2014-12-20T21:30:21.691000Z,https://swapi.dev/api/vehicles/26/,NaN,[],[https://swapi.dev/api/films/3/]
12,Imperial Speeder Bike,74-Z speeder bike,Aratech Repulsor Company,8000,3,360,1,1,4,1 day,speeder,2014-12-18T11:20:04.625000Z,2014-12-20T21:30:21.693000Z,https://swapi.dev/api/vehicles/30/,NaN,"[https://swapi.dev/api/people/1/, https://swap...",[https://swapi.dev/api/films/3/]
13,Vulture Droid,Vulture-class droid starfighter,"Haor Chall Engineering, Baktoid Armor Workshop",unknown,3.5,1200,0,0,0,none,starfighter,2014-12-19T17:09:53.584000Z,2014-12-20T21:30:21.697000Z,https://swapi.dev/api/vehicles/33/,NaN,[],"[https://swapi.dev/api/films/4/, https://swapi..."
14,Multi-Troop Transport,Multi-Troop Transport,Baktoid Armor Workshop,138000,31,35,4,112,12000,unknown,repulsorcraft,2014-12-19T17:12:04.400000Z,2014-12-20T21:30:21.700000Z,https://swapi.dev/api/vehicles/34/,NaN,[],[https://swapi.dev/api/films/4/]
15,Armored Assault Tank,Armoured Assault Tank,Baktoid Armor Workshop,unknown,9.75,55,4,6,unknown,unknown,repulsorcraft,2014-12-19T17:13:29.799000Z,2014-12-20T21:30:21.703000Z,https://swapi.dev/api/vehicles/35/,NaN,[],[https://swapi.dev/api/films/4/]
16,Single Trooper Aerial Platform,Single Trooper Aerial Platform,Baktoid Armor Workshop,2500,2,400,1,0,none,none,repulsorcraft,2014-12-19T17:15:09.511000Z,2014-12-20T21:30:21.705000Z,https://swapi.dev/api/vehicles/36/,NaN,[],[https://swapi.dev/api/films/4/]
17,C-9979 landing craft,C-9979 landing craft,Haor Chall Engineering,200000,210,587,140,284,1800000,1 day,landing craft,2014-12-19T17:20:36.373000Z,2014-12-20T21:30:21.707000Z,https://swapi.dev/api/vehicles/37/,NaN,[],[https://swapi.dev/api/films/4/]
18,Tribubble bongo,Tribubble bongo,Otoh Gunga Bongameken Cooperative,unknown,15,85,1,2,1600,unknown,submarine,2014-12-19T17:37:37.924000Z,2014-12-20T21:30:21.710000Z,https://swapi.dev/api/vehicles/38/,NaN,"[https://swapi.dev/api/people/10/, https://swa...",[https://swapi.dev/api/films/4/]
19,Sith speeder,FC-20 speeder bike,Razalon,4000,1.5,180,1,0,2,unknown,speeder,2014-12-20T10:09:56.095000Z,2014-12-20T21:30:21.712000Z,https://swapi.dev/api/vehicles/42/,NaN,[https://swapi.dev/api/people/44/],[https://swapi.dev/api/films/4/]
20,Zephyr-G swoop bike,Zephyr-G swoop bike,Mobquet Swoops and Speeders,5750,3.68,350,1,1,200,none,repulsorcraft,2014-12-20T16:24:16.026000Z,2014-12-20T21:30:21.714000Z,https://swapi.dev/api/vehicles/44/,NaN,[https://swapi.dev/api/people/11/],[https://swapi.dev/api/films/5/]
21,Koro-2 Exodrive airspeeder,Koro-2 Exodrive airspeeder,Desler Gizh Outworld Mobility Corporation,unknown,6.6,800,1,1,80,unknown,airspeeder,2014-12-20T17:17:33.526000Z,2014-12-20T21:30:21.716000Z,https://swapi.dev/api/vehicles/45/,NaN,[https://swapi.dev/api/people/70/],[https://swapi.dev/api/films/5/]
22,XJ-6 airspeeder,XJ-6 airspeeder,Narglatch AirTech prefabricated kit,unknown,6.23,720,1,1,unknown,unknown,airspeeder,2014-12-20T17:19:19.991000Z,2014-12-20T21:30:21.719000Z,https://swapi.dev/api/vehicles/46/,NaN,[https://swapi.dev/api/people/11/],[https://swapi.dev/api/films/5/]
23,LAAT/i,Low Altitude Assault Transport/infrantry,Rothana Heavy Engineering,unknown,17.4,620,6,30,170,unknown,gunship,2014-12-20T18:01:21.014000Z,2014-12-20T21:30:21.723000Z,https://swapi.dev/api/vehicles/50/,NaN,[],"[https://swapi.dev/api/films/5/, https://swapi..."
24,LAAT/c,Low Altitude Assault Transport/carrier,Rothana Heavy Engineering,unknown,28.82,620,1,0,40000,unknown,gunship,2014-12-20T18:02:46.802000Z,2014-12-20T21:30:21.725000Z,https://swapi.dev/api/vehicles/51/,NaN,[],[https://swapi.dev/api/films/5/]
25,AT-TE,All Terrain Tactical Enforcer,"Rothana Heavy Engineering, Kuat Drive Yards",unknown,13.2,60,6,36,10000,21 days,walker,2014-12-20T18:10:07.560000Z,2014-12-20T21:30:21.728000Z,https://swapi.dev/api/vehicles/53/,NaN,[],"[https://swapi.dev/api/films/5/, https://swapi..."
26,SPHA,Self-Propelled Heavy Artillery,Rothana Heavy Engineering,unknown,140,35,25,30,500,7 days,walker,2014-12-20T18:12:32.315000Z,2014-12-20T21:30:21.731000Z,https://swapi.dev/api/vehicles/54/,NaN,[],[https://swapi.dev/api/films/5/]
27,Flitknot speeder,Flitknot speeder,Huppla Pasa Tisc Shipwrights Collective,8000,2,634,1,0,unknown,unknown,speeder,2014-12-20T18:15:20.312000Z,2014-12-20T21:30:21.735000Z,https://swapi.dev/api/vehicles/55/,NaN,[https://swapi.dev/api/people/67/],[https://swapi.dev/api/films/5/]
28,Neimoidian shuttle,Sheathipede-class transport shuttle,Haor Chall Engineering,unknown,20,880,2,6,1000,7 days,transport,2014-12-20T18:25:44.912000Z,2014-12-20T21:30:21.739000Z,https://swapi.dev/api/vehicles/56/,NaN,[],"[https://swapi.dev/api/films/5/, https://swapi..."
29,Geonosian starfighter,Nantex-class territorial defense,Huppla Pasa Tisc Shipwrights Collective,unknown,9.8,20000,1,0,unknown,unknown,starfighter,2014-12-20T18:34:12.541000Z,2014-12-20T21:30:21.742000Z,https://swapi.dev/api/vehicles/57/,NaN,[],[https://swapi.dev/api/films/5/]
30,Tsmeu-6 personal wheel bike,Tsmeu-6 personal wheel bike,Z-Gomot Ternbuell Guppat Corporation,15000,3.5,330,1,1,10,none,wheeled walker,2014-12-20T19:43:54.870000Z,2014-12-20T21:30:21.745000Z,https://swapi.dev/api/vehicles/60/,NaN,[https://swapi.dev/api/people/79/],[https://swapi.dev/api/films/6/]
31,Emergency Firespeeder,Fire suppression speeder,unknown,unknown,unknown,unknown,2,unknown,unknown,unknown,fire suppression ship,2014-12-20T19:50:58.559000Z,2014-12-20T21:30:21.749000Z,https://swapi.dev/api/vehicles/62/,NaN,[],[https://swapi.dev/api/films/6/]
32,Droid tri-fighter,tri-fighter,"Colla Designs, Phlac-Arphocc Automata Industries",20000,5.4,1180,1,0,0,none,droid starfighter,2014-12-20T20:05:19.992000Z,2014-12-20T21:30:21.752000Z,https://swapi.dev/api/vehicles/67/,NaN,[],[https://swapi.dev/api/films/6/]
33,Oevvaor jet catamaran,Oevvaor jet catamaran,Appazanna Engineering Works,12125,15.1,420,2,2,50,3 days,airspeeder,2014-12-20T20:20:53.931000Z,2014-12-20T21:30:21.756000Z,https://swapi.dev/api/vehicles/69/,NaN,[],[https://swapi.dev/api/films/6/]
34,Raddaugh Gnasp fluttercraft,Raddaugh Gnasp fluttercraft,Appazanna Engineering Works,14750,7,310,2,0,20,none,air speeder,2014-12-20T20:21:55.648000Z,2014-12-20T21:30:21.759000Z,https://swapi.dev/api/vehicles/70/,NaN,[],[https://swapi.dev/api/films/6/]
35,Clone turbo tank,HAVw A6 Juggernaut,Kuat Drive Yards,350000,49.4,160,20,300,30000,20 days,wheeled walker,2014-12-20T20:24:45.587000Z,2014-12-20T21:30:21.762000Z,https://swapi.dev/api/vehicles/71/,NaN,[],[https://swapi.dev/api/films/6/]
36,Corporate Alliance tank droid,NR-N99 Persuader-class droid enforcer,Techno Union,49000,10.96,100,0,4,none,none,droid tank,2014-12-20T20:26:55.522000Z,2014-12-20T21:30:21.765000Z,https://swapi.dev/api/vehicles/72/,NaN,[],[https://swapi.dev/api/films/6/]
37,Droid gunship,HMP droid gunship,"Baktoid Fleet Ordnance, Haor Chall Engineering",60000,12.3,820,0,0,0,none,airspeeder,2014-12-20T20:32:05.687000Z,2014-12-20T21:30:21.768000Z,https://swapi.dev/api/vehicles/73/,NaN,[],[https://swapi.dev/api/films/6/]
38,AT-RT,All Terrain Recon Transport,Kuat Drive Yards,40000,3.2,90,1,0,20,1 day,walker,2014-12-20T20:47:49.189000Z,2014-12-20T21:30:21.772000Z,https://swapi.dev/api/vehicles/76/,NaN,[],[https://swapi.dev/api/films/6/]

In [13]:
starships_data = starships_page.json()['results']
starships_df = pd.DataFrame(starships_data)
starships_df.head()

,name,model,manufacturer,cost_in_credits,length,max_atmosphering_speed,crew,passengers,cargo_capacity,consumables,hyperdrive_rating,MGLT,starship_class,pilots,films,created,edited,url
0,CR90 corvette,CR90 corvette,Corellian Engineering Corporation,3500000,150,950,30-165,600,3000000,1 year,2.0,60,corvette,[],"[https://swapi.dev/api/films/1/, https://swapi...",2014-12-10T14:20:33.369000Z,2014-12-20T21:23:49.867000Z,https://swapi.dev/api/starships/2/
1,Star Destroyer,Imperial I-class Star Destroyer,Kuat Drive Yards,150000000,"1,600",975,"47,060",n/a,36000000,2 years,2.0,60,Star Destroyer,[],"[https://swapi.dev/api/films/1/, https://swapi...",2014-12-10T15:08:19.848000Z,2014-12-20T21:23:49.870000Z,https://swapi.dev/api/starships/3/
2,Sentinel-class landing craft,Sentinel-class landing craft,"Sienar Fleet Systems, Cyngus Spaceworks",240000,38,1000,5,75,180000,1 month,1.0,70,landing craft,[],[https://swapi.dev/api/films/1/],2014-12-10T15:48:00.586000Z,2014-12-20T21:23:49.873000Z,https://swapi.dev/api/starships/5/
3,Death Star,DS-1 Orbital Battle Station,"Imperial Department of Military Research, Sien...",1000000000000,120000,n/a,"342,953","843,342",1000000000000,3 years,4.0,10,Deep Space Mobile Battlestation,[],[https://swapi.dev/api/films/1/],2014-12-10T16:36:50.509000Z,2014-12-20T21:26:24.783000Z,https://swapi.dev/api/starships/9/
4,Millennium Falcon,YT-1300 light freighter,Corellian Engineering Corporation,100000,34.37,1050,4,6,100000,2 months,0.5,75,Light freighter,"[https://swapi.dev/api/people/13/, https://swa...","[https://swapi.dev/api/films/1/, https://swapi...",2014-12-10T16:59:45.094000Z,2014-12-20T21:23:49.880000Z,https://swapi.dev/api/starships/10/

# Transform

In [342]:
peoples_df.drop(['homeworld', 'species','starships'], axis = 1, inplace = True)
peoples_df.head()

,name,height,mass,hair_color,skin_color,eye_color,birth_year,gender,films,vehicles,created,edited,url
0,Luke Skywalker,172,77,blond,fair,blue,19BBY,male,"[https://swapi.dev/api/films/1/, https://swapi...","[https://swapi.dev/api/vehicles/14/, https://s...",2014-12-09T13:50:51.644000Z,2014-12-20T21:17:56.891000Z,https://swapi.dev/api/people/1/
1,C-3PO,167,75,n/a,gold,yellow,112BBY,n/a,"[https://swapi.dev/api/films/1/, https://swapi...",[],2014-12-10T15:10:51.357000Z,2014-12-20T21:17:50.309000Z,https://swapi.dev/api/people/2/
2,R2-D2,96,32,n/a,"white, blue",red,33BBY,n/a,"[https://swapi.dev/api/films/1/, https://swapi...",[],2014-12-10T15:11:50.376000Z,2014-12-20T21:17:50.311000Z,https://swapi.dev/api/people/3/
3,Darth Vader,202,136,none,white,yellow,41.9BBY,male,"[https://swapi.dev/api/films/1/, https://swapi...",[],2014-12-10T15:18:20.704000Z,2014-12-20T21:17:50.313000Z,https://swapi.dev/api/people/4/
4,Leia Organa,150,49,brown,light,brown,19BBY,female,"[https://swapi.dev/api/films/1/, https://swapi...",[https://swapi.dev/api/vehicles/30/],2014-12-10T15:20:09.791000Z,2014-12-20T21:17:50.315000Z,https://swapi.dev/api/people/5/

In [343]:
peoples_df.rename_axis('id', inplace = True)

In [349]:
peoples_df['height'] = peoples_df['height'].apply(lambda x: x.replace(',',''))
peoples_df['mass'] = peoples_df['mass'].apply(lambda x: x.replace(',',''))

In [350]:
peoples_df = peoples_df.replace('unknown',np.nan)

In [351]:
convert_dict = {
    'name':str,
    'height':float,
    'mass':float,
    'hair_color':str,
    'skin_color':str,
    'eye_color':str,
    'birth_year':str,
    'gender':str,
    'created':str,
    'edited':str,
    'url':str
}

peoples_df = peoples_df.astype(convert_dict)

In [355]:
peoples_df.replace(to_replace=[None, 'none', 'n/a', 'unknown'], value=np.nan, inplace=True)

In [344]:
peoples_df_films  = peoples_df[[
    'name',
    'films'
]]

In [345]:
peoples_df_films = peoples_df_films.explode('films')
peoples_df_films.head()

              name                           films
id
0   Luke Skywalker  https://swapi.dev/api/films/1/
0   Luke Skywalker  https://swapi.dev/api/films/2/
0   Luke Skywalker  https://swapi.dev/api/films/3/
0   Luke Skywalker  https://swapi.dev/api/films/6/
1            C-3PO  https://swapi.dev/api/films/1/

In [383]:
peoples_df_films['films'] = peoples_df_films['films'].apply(lambda s: s.split('/')[5])

In [384]:
peoples_df_films

               name films
id
0    Luke Skywalker     1
0    Luke Skywalker     2
0    Luke Skywalker     3
0    Luke Skywalker     6
1             C-3PO     1
..              ...   ...
79  Raymus Antilles     1
79  Raymus Antilles     6
80        Sly Moore     5
80        Sly Moore     6
81       Tion Medon     6

[162 rows x 2 columns]

In [231]:
peoples_df_vehicles  = peoples_df[[
    'name',
    'vehicles'
]]

In [233]:
peoples_df_vehicles = peoples_df_vehicles.explode('vehicles')
peoples_df_vehicles

               name                            vehicles
id
0    Luke Skywalker  https://swapi.dev/api/vehicles/14/
0    Luke Skywalker  https://swapi.dev/api/vehicles/30/
1             C-3PO                                 NaN
2             R2-D2                                 NaN
3       Darth Vader                                 NaN
..              ...                                 ...
77         Grievous  https://swapi.dev/api/vehicles/60/
78          Tarfful                                 NaN
79  Raymus Antilles                                 NaN
80        Sly Moore                                 NaN
81       Tion Medon                                 NaN

[84 rows x 2 columns]

In [234]:
peoples_df_vehicles.dropna(inplace = True)

                name                            vehicles
id
0     Luke Skywalker  https://swapi.dev/api/vehicles/14/
0     Luke Skywalker  https://swapi.dev/api/vehicles/30/
4        Leia Organa  https://swapi.dev/api/vehicles/30/
9     Obi-Wan Kenobi  https://swapi.dev/api/vehicles/38/
10  Anakin Skywalker  https://swapi.dev/api/vehicles/44/
10  Anakin Skywalker  https://swapi.dev/api/vehicles/46/
12         Chewbacca  https://swapi.dev/api/vehicles/19/
16    Wedge Antilles  https://swapi.dev/api/vehicles/14/
30      Qui-Gon Jinn  https://swapi.dev/api/vehicles/38/
42        Darth Maul  https://swapi.dev/api/vehicles/42/
65             Dooku  https://swapi.dev/api/vehicles/55/
68        Zam Wesell  https://swapi.dev/api/vehicles/45/
77          Grievous  https://swapi.dev/api/vehicles/60/

In [364]:
films_df['key'] = films_df['url'].apply(lambda s: s.split('/')[5])

In [236]:
peoples_df_vehicles['vehicles'] = peoples_df_vehicles['vehicles'].apply(lambda s: s.split('/')[5] if len(s)>0 else "")

In [237]:
peoples_df_vehicles

                name vehicles
id
0     Luke Skywalker       14
0     Luke Skywalker       30
4        Leia Organa       30
9     Obi-Wan Kenobi       38
10  Anakin Skywalker       44
10  Anakin Skywalker       46
12         Chewbacca       19
16    Wedge Antilles       14
30      Qui-Gon Jinn       38
42        Darth Maul       42
65             Dooku       55
68        Zam Wesell       45
77          Grievous       60

In [268]:
vehicles_df['key'] = vehicles_df['url'].apply(lambda s: s.split('/')[5])

In [365]:
films_df.drop(['characters', 'planets','starships','vehicles','species'], axis = 1, inplace = True)

In [269]:
vehicles_df.drop(['pilots','films'], axis = 1, inplace = True)

In [346]:
peoples_df.drop(['films','vehicles'], axis = 1, inplace = True)

# Load

In [356]:
conn = sqlite3.connect('starwars_database.db')
c = conn.cursor()

c.execute(f"CREATE TABLE IF NOT EXISTS peoples ({', '.join(peoples_df.columns)})")
conn.commit()
peoples_df.to_sql('peoples', conn, if_exists='replace', index = False)

In [366]:
c.execute(f"CREATE TABLE IF NOT EXISTS films ({', '.join(films_df.columns)})")
conn.commit()
films_df.to_sql('films', conn, if_exists='replace', index = False)

In [270]:
c.execute(f"CREATE TABLE IF NOT EXISTS vehicles ({', '.join(vehicles_df.columns)})")
conn.commit()
vehicles_df.to_sql('vehicles', conn, if_exists='replace', index = False)

In [385]:
c.execute(f"CREATE TABLE IF NOT EXISTS peoples_films ({', '.join(peoples_df_films.columns)})")
conn.commit()
peoples_df_films.to_sql('peoples_films', conn, if_exists='replace', index = False)

In [247]:
c.execute(f"CREATE TABLE IF NOT EXISTS peoples_vehicles ({', '.join(peoples_df_vehicles.columns)})")
conn.commit()
peoples_df_vehicles.to_sql('peoples_vehicles', conn, if_exists='replace', index = False)

# Analysis

In [386]:
con = sqlite3.connect('starwars_database.db')

In [392]:
pd.read_sql(
    '''
        SELECT
            *
        FROM
            peoples_films
    
    ''',
    con
)

                name films
0     Luke Skywalker     1
1     Luke Skywalker     2
2     Luke Skywalker     3
3     Luke Skywalker     6
4              C-3PO     1
..               ...   ...
157  Raymus Antilles     1
158  Raymus Antilles     6
159        Sly Moore     5
160        Sly Moore     6
161       Tion Medon     6

[162 rows x 2 columns]

In [329]:
#Characters with skin-color white
pd.read_sql(
    '''
        SELECT
            name,
            gender
        FROM
            peoples
        WHERE
            skin_color = 'white'
        LIMIT 5
    ''',
    con
)

          name gender
0  Darth Vader   male
1  Yarael Poof   male

In [330]:
#Who appears in most films?
pd.read_sql(
    '''
        SELECT
            name,
            count(*) AS no_films
        FROM
            peoples_films
        GROUP BY
            name
        ORDER BY
            no_films DESC
        LIMIT 5
    ''',
    con
)

             name  no_films
0           R2-D2         6
1  Obi-Wan Kenobi         6
2           C-3PO         6
3            Yoda         5
4       Palpatine         5

In [331]:
#Number of vehicles driven by a character
pd.read_sql(
    '''
        SELECT
            name,
            count(*) AS no_vehicles
        FROM
            peoples_vehicles
        GROUP BY
            name
        ORDER BY
            no_vehicles DESC
        
    ''',
    con
)

                name  no_vehicles
0     Luke Skywalker            2
1   Anakin Skywalker            2
2         Zam Wesell            1
3     Wedge Antilles            1
4       Qui-Gon Jinn            1
5     Obi-Wan Kenobi            1
6        Leia Organa            1
7           Grievous            1
8              Dooku            1
9         Darth Maul            1
10         Chewbacca            1

In [359]:
#characters with most film having mass greater than 120 and hair color null

pd.read_sql(
    '''
        SELECT
            f.name,
            count(*) AS no_films
        FROM
            peoples_films f
        INNER JOIN 
            peoples p ON f.name = p.name
        WHERE
            p.hair_color IS NULL
        GROUP BY
            p.name
        HAVING
            p.mass > 120
        ORDER BY
            no_films DESC
        LIMIT 5
    ''',
    con
)

                    name  no_films
0            Darth Vader         4
1  Jabba Desilijic Tiure         3
2                  IG-88         1
3               Grievous         1

In [388]:
#characters and their number of films from films directed by George Lucas whose hair color is not known
pd.read_sql(
    '''
        SELECT
            pf.name,
            count(*) AS no_films
        FROM
            peoples_films pf
        LEFT JOIN 
            films f ON f.key = pf.films
        INNER JOIN
            peoples p ON p.name = pf.name
        WHERE
            f.director = 'George Lucas'
            AND
            p.hair_color IS NULL
        GROUP BY
            pf.name
        ORDER BY
            no_films DESC
        LIMIT 5
    ''',
    con
)

          name  no_films
0        R2-D2         4
1        C-3PO         4
2     Plo Koon         3
3  Nute Gunray         3
4   Mace Windu         3

In [394]:
#characters from the film 'The Empire Strikes Back' who drive a vehicle made by 'Incom corporation'
pd.read_sql(
    '''
        SELECT
            pv.name,
            count(*) AS no_vehicles
        FROM
            peoples_vehicles pv
        LEFT JOIN 
            vehicles v ON v.key = pv.vehicles
        LEFT JOIN
            peoples_films p ON p.name = pv.name
        INNER JOIN
            films f ON f.key = p.films
        WHERE
            f.key = 1
            AND
            v.manufacturer = 'Incom corporation'
        GROUP BY
            pv.name
        ORDER BY
            no_vehicles DESC
        LIMIT 5
    ''',
    con
)

             name  no_vehicles
0  Wedge Antilles            1
1  Luke Skywalker            1

In [404]:
#Making a CTE which creates information about every character, like number of films they star in, number of vehicles driven by them.
#vehicle length >10
pd.read_sql(
    '''
        WITH cte_character_info AS (
            SELECT 
                p.name as character_name,
                f.title as film_name,
                f.director as director_of_the_film,
                v.name as vehicle_driven,
                f.release_date,
                v.length as length_of_vehicle
            FROM
                peoples as p
            INNER JOIN
                peoples_films pf ON pf.name = p.name
            LEFT JOIN
                films f ON f.key = pf.films
            INNER JOIN
                peoples_vehicles pv ON pv.name = p.name
            LEFT JOIN
                vehicles v ON v.key = pv.vehicles
            GROUP BY
                p.name
            )
        SELECT character_name, film_name, release_date, vehicle_driven
        from cte_character_info
        WHERE length_of_vehicle > 10
                
        
    ''',
    con
)

,character_name,film_name,release_date,vehicle_driven
0,Anakin Skywalker,The Phantom Menace,1999-05-19,Zephyr-G swoop bike
1,Chewbacca,A New Hope,1977-05-25,AT-ST
2,Dooku,Attack of the Clones,2002-05-16,Flitknot speeder
3,Grievous,Revenge of the Sith,2005-05-19,Tsmeu-6 personal wheel bike
4,Leia Organa,A New Hope,1977-05-25,Imperial Speeder Bike
5,Luke Skywalker,A New Hope,1977-05-25,Snowspeeder
6,Obi-Wan Kenobi,A New Hope,1977-05-25,Tribubble bongo
7,Qui-Gon Jinn,The Phantom Menace,1999-05-19,Tribubble bongo
8,Wedge Antilles,A New Hope,1977-05-25,Snowspeeder
9,Zam Wesell,Attack of the Clones,2002-05-16,Koro-2 Exodrive airspeeder